@import url(http://fonts.googleapis.com/css?family=Lato:400,900,300,900italic);
body{
	margin: 0;
	font-family: 'Lato'
}
/* Nav Bar*/
.nav a{
	text-decoration: none;
	color:inherit;
}
.nav{
	background-color: #282828;
	border:1px solid black;
	overflow: hidden;
	height: 70px;
}
.logo{
	float:left;
	margin-left:70px;
	margin-top:10px;
	color:#82BC00;
	font-size:40px;
	font-family: 'Lato';
	font-weight: bolder;
}

.right{
	float:right;
	margin-right: 100px;
	margin-top:23px;
	color:white;
	font-size:18px;
	font-family: 'Lato';

}
.navbtn{
	color:white;
	padding-right:10px;

}
.navbtn:hover{
	color:#82BC00;
}
/*End Of Nav Bar*/

/* Header */
#picture{
	height: 850px;
	filter:blur(7px);
}
#overlay{
	background-color:rgba(0,0,0,0.9);
	height: 850px;
}

.HeaderText{
 	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.HeaderText h1{
	color:#82BC00;
	font-size: 6em;
}
.HeaderText h2{
	font-size:2em;
	text-align: center;
	color:white;
}
.HeaderText a{
	 position: relative;
    z-index: 1;
}

.btn-naked{
	position: relative;
	display: inline-block;
	margin-top:10%;
	margin-left:13%;
	text-decoration: none;
	overflow:hidden;
	color:white;
	font-size:2em;
	text-align: center;
	padding:20px;
	border:1px solid white;
	border-radius:12px;
	transition: background-color 0.3s ease-in;
}

.btn-naked:hover{
		background-color: white;
		color:#82BC00;
}




.arrow{
	position: fixed;
	bottom: 10%;
	left:50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border-radius:50%;
	animation:bounce 2s infinite;
}
.down{
	border: solid #82BC00;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 25px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

  @keyframes bounce{
  0% {
    transform:  translate(0px,0px)  ;
  }
  15% {
    transform:  translate(0px,-25px)  ;
  }
  30% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(0px,-15px)  ;
  }
  60% {
    transform:  translate(0px,0px)  ;
  }
  75% {
    transform:  translate(0px,-5px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes bounce{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  15% {
    -moz-transform:  translate(0px,-25px)  ;
  }
  30% {
    -moz-transform:  translate(0px,0px)  ;
  }
  45% {
    -moz-transform:  translate(0px,-15px)  ;
  }
  60% {
    -moz-transform:  translate(0px,0px)  ;
  }
  75% {
    -moz-transform:  translate(0px,-5px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  15% {
    -webkit-transform:  translate(0px,-25px)  ;
  }
  30% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  45% {
    -webkit-transform:  translate(0px,-15px)  ;
  }
  60% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  75% {
    -webkit-transform:  translate(0px,-5px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  15% {
    -o-transform:  translate(0px,-25px)  ;
  }
  30% {
    -o-transform:  translate(0px,0px)  ;
  }
  45% {
    -o-transform:  translate(0px,-15px)  ;
  }
  60% {
    -o-transform:  translate(0px,0px)  ;
  }
  75% {
    -o-transform:  translate(0px,-5px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes bounce {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  15% {
    -ms-transform:  translate(0px,-25px)  ;
  }
  30% {
    -ms-transform:  translate(0px,0px)  ;
  }
  45% {
    -ms-transform:  translate(0px,-15px)  ;
  }
  60% {
    -ms-transform:  translate(0px,0px)  ;
  }
  75% {
    -ms-transform:  translate(0px,-5px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}



/*End Of Header*/

/* About */

#About{
	width: 700px;
}

/* End of About */